@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    background-color: #DBE2EF;
}

.input {
    position: relative;
    width: 30ch;
    height: 50px;
    display: flex;
    cursor: text;
}

.input:hover .input__outline:not(.input__outline--focus) {
    border: 1px solid #3F72AF;
}

.input .input__outline {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #9fb9d7;
    border-radius: 4px;
    pointer-events: none;
    transition: border 100ms;
}

.input .input__outline--focus {
    border: 2px solid #112D4E;
}

.input i {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%) scale(0);
    color: #112D4E;
    cursor: pointer;
    transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}

.input i.visible {
    transform: translateY(-50%) scale(1);
}

.input label {
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate(6px, 16px) scale(1);
    transition: transform 200ms cubic-bezier(0, 0, 0.2, 1), color 200ms cubic-bezier(0, 0, 0.2, 1);
    transform-origin: left top 0px;
    pointer-events: none;
    padding-inline: 0.5rem;
    z-index: 2;
    color: #9fb9d7;
}

.input label.focused {
    transform: translate(8px, -6px) scale(0.75);
    color: #112D4E;
}

.input label.outline {
    background: linear-gradient(0deg, #F9F7F7 50%, #DBE2EF 50%);
    transform: translate(8px, -6px) scale(0.75);
    color: transparent;
    z-index: 1;
    opacity: 0;
    transition: opacity 200ms cubic-bezier(0, 0, 0.2, 1);
}

.input label.outline--open {
    opacity: 1;
}

.input input {
    border: none;
    background-color: #F9F7F7;
    width: 100%;
    outline: none;
    padding-inline: 14px;
    border-radius: 4px;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    color: #112D4E;
}

.input ul {
    position: absolute;
    list-style: none;
    border-radius: 4px;
    width: 100%;
    padding-block: 0.5rem;
    background-color: #fef6ec;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #3F72AF #edf1f7;
    color: #112D4E;
    max-height: 0;
    opacity: 0;
    transition: all 300ms;
}

.input ul.visible {
    opacity: 1;
    max-height: 318px;
}

.input ul li {
    cursor: pointer;
}

.input ul li:only-child {
    padding: .375rem 1rem;
}

.input ul li:hover {
    background-color: #DBE2EF40;
}

.input ul li a {
    text-decoration: none;
    color: #112D4E;
    display: block;
    padding: .375rem 1rem;
}

span {
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    opacity: 0;
    visibility: visible;
}